.slide {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-left-enter {
    transform: translateX(100%);
}

.slide-left-enter-active {
    transform: translateX(0%);
    transition: transform 400ms ease-in-out;
}

.slide-left-exit {
    transform: translateX(0%);
}

.slide-left-exit-active {
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
}

.slide-right-enter {
    transform: translateX(-100%);
}

.slide-right-enter-active {
    transform: translateX(0%);
    transition: transform 400ms ease-in-out;
}

.slide-right-exit {
    transform: translateX(0%);
}

.slide-right-exit-active {
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
}
